<a href="https://colab.research.google.com/github/ZeedKey/RandomForestClassifier/blob/main/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

train_data = pd.read_csv("/content/Titanic/train.csv")
test_data = pd.read_csv("/content/Titanic/test.csv")

In [ ]:
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies( train_data[features] )
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(
    n_estimators = 100,
    max_depth = 6,
    random_state = 1,
)

model.fit(X, y)

In [ ]:
predictions = model.predict(X_test)

In [ ]:
output = pd.DataFrame(
    {
        'PassengerID': test_data.PassengerId,
        'Survived': predictions
    }
)